name: "Build"

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    timeout-minutes: 5

    permissions:
      contents: write

    steps:
      - name: "Checkout"
        uses: actions/checkout@v5

      - name: "Setup Node"
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: "Install"
        run: |
          npm ci

      - name: "Update Manifest Version"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/update-json-value-action@v2

      - name: "Build"
        run: |
          npm run build

      - name: "Upload to Actions"
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v5
        with:
          name: artifacts
          path: web-ext-artifacts/

      - name: "Upload to Release"
        if: ${{ github.event_name == 'release' }}
        uses: cssnr/upload-release-action@v1
        with:
          globs: web-ext-artifacts/*

      - name: "Update Release Notes Action"
        if: ${{ github.event_name == 'release' }}
        continue-on-error: true
        uses: smashedr/update-release-notes-action@master
        with:
          type: generic

      - name: "Package Changelog Action"
        if: ${{ github.event_name == 'release' }}
        continue-on-error: true
        uses: cssnr/package-changelog-action@v2

      - name: "Send Failure Notification"
        if: ${{ failure() && github.event_name == 'release' }}
        uses: sarisia/actions-status-discord@v1
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
